"Package" "Version" "Built"
"animation" "2.7" "4.2.3"
"cowplot" "1.1.1" "4.2.2"
"fuzzyjoin" "0.1.6" "4.2.3"
"gganimate" "1.0.8" "4.2.2"
"gifski" "1.12.0-2" "4.2.3"
"latex2exp" "0.9.4" "4.2.1"
"magick" "2.7.3" "4.2.2"
"tidyverse" "1.3.1" "4.2.0"
